/*red color*/
/*yellow color*/
/*blue color*/
/*purple color*/
body {
  font-family: "Raleway", sans-serif; }

.border {
  border: 0;
  height: 6px;
  background-color: #fd7473;
  background-image: linear-gradient(to right, #fd7473, #fd7473 25%, #f3c951 25%, #f3c951 50%, #47b8e0 50%, #47b8e0 75%, #9f68d0 75%, #9f68d0 100%, #9f68d0 100%);
  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  background-size: 50% 100%; }

.wrapper {
  width: 750px;
  max-width: 90%;
  margin: 0 auto; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.main_header {
  margin: 5em 0 3em 0; }

.logo img {
  width: 75px;
  float: left;
  margin-top: -1em; }

.logo h1 {
  float: left;
  margin: 0 0 0 1em;
  text-transform: uppercase;
  font-size: 1.35em;
  padding-top: 1.1em;
  color: #34314c; }
  .logo h1 span {
    font-weight: 400; }

.main_nav {
  float: right;
  padding-top: 1.75em; }
  .main_nav a {
    text-decoration: none;
    margin-left: 1em;
    color: #9592ad; }
  .main_nav .current {
    font-weight: 700;
    color: #34314c; }
