$main:        #34314c;
$secondary:   #9592ad;
$border:      #d9dee9;
$white:       #FFFFFF;

$highlight_1: #fd7473;   /*red color*/
$highlight_2: #f3c951;   /*yellow color*/
$highlight_3: #47b8e0;   /*blue color*/
$highlight_4: #9f68d0;   /*purple color*/

body {
	font-family: "Raleway", sans-serif;
}

.border {
	border: 0;
	height: 6px;
	background-color: $highlight_1;
	background-image: 
		linear-gradient(
			to right,
			$highlight_1,
			$highlight_1 25%,
			$highlight_2 25%,
			$highlight_2 50%,
			$highlight_3 50%,
			$highlight_3 75%,
			$highlight_4 75%,
			$highlight_4 100%,
			$highlight_4 100%
			);
	-webkit-background-size: 50% 100%;
	-moz-background-size: 50% 100%;
	background-size: 50% 100%;	
}

.wrapper {
	width: 750px;
	max-width: 90%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.main_header {
	margin: 5em 0 3em 0;
}

.logo {
	img {
		width: 75px;
		float: left;
		margin-top: -1em;
	}
	h1 {
		float: left;
		margin: 0 0 0 1em;
		text-transform: uppercase;
		font-size: 1.35em;
		padding-top: 1.1em;
		color: $main;
		span {
			font-weight: 400;
		}
	}
}

.main_nav {
	float: right;
	padding-top: 1.75em;
	a {
		text-decoration: none;
		margin-left: 1em;
		color: $secondary;
	}
	.current {
		font-weight: 700;
		color: $main;
	}
}